<h1>
<%= @utilisateur.nom %>, <%= @utilisateur.email %>

</h1>

<% if @utilisateur.annonces.any? %>
 <h3>Annonces (<%= @utilisateur.annonces.count %>)</h3>
 <ol class="annonces">
 <%= render @annonces %>
 </ol>
<% end %>
