<p id="notice"><%= notice %></p>
<div class="container">
  <h4 class="my-4">Index des annonces</h4>
  <div class="d-flex flex-wrap">
      <% @annonces.each do |annonce| %>
              <%= render :partial => 'layouts/big_card', :locals => { :@annonce => annonce, :@utilisateur_courant => utilisateur_courant } %>
      <% end %>
  </div>
</div>

