<div class="container">
    <%= render 'layouts/search_form' %>
</div>

<div class="container">
<%= @query %>
    <h4 class="my-5">Résultats :</h4>
    <div class="d-flex flex-wrap">
        <% @results.each do |annonce| %>
            <%= render :partial => 'layouts/big_card', :locals => { :@annonce => annonce } %>

        <% end %> 
    </div>
</div>
