// Place all the styles related to the Annonces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.new-annonce-container, .tips-container{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 15px 32px;
}

.new-annonce-container label{
    font-size: 19px;
}


.new-annonce-container .form-group{
    margin-bottom: 30px;
}

.tips-blue{
    border-radius: 8px;
    color: rgb(36, 85, 204);
    background-color: rgb(234, 240, 255);
}