.footer{
    background-color: rgb(242, 242, 242);
    color: rgb(74, 74, 74);
    min-height: 300px;
    margin-top: 50px;
}

.footer a{
    text-decoration: none !important;
    color: inherit !important;
}

.footer span{
    padding: 4px 8px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(255, 76, 89);
    border-radius: 24px;
    position: relative;
    top: -3px;
}

.footer .store img{
    height: 50px;
    margin-right: 20px;
}

.footer .social img{
    height: 50px;

}