<div class="footer">
    <div class="container py-5">
        <div class="d-flex flex-row justify-content-around align-items-start">
            <div class="col">
                <a class="my-3" href="#">Aide et renseignements</a>
                
                
                <div class="my-3">NEUF</div>
                <div class="row my-3">
                    <a class="ml-2 mr-3 href="#">
                        <i class="fa fa-car mx-2"></i> AUTO-NEUF <span class="new">NEW</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-building mx-2"></i> IMMO NEUF
                    </a>
                </div>

                <div class="my-3">Téléchargez l'application gratuitement :</div>
                <div class="row store ml-1">
                    <%= image_tag "play-store-badge.svg" %>
                    <%= image_tag "app-store-badge.svg" %>
                </div>
                
            </div>

            <div class="col-md-3 social">
            
                Suivez nous sur:<br/>
                <%= image_tag "sm.jpeg" %>
            </div>
        </div>
        
    
    </>

</>