<div class="black-navbar container-fluid">
    <ul>
        <li>Avito</li>
        <li>AutoNeuf</li>
        <li>ImmoNeuf</li>
        <li>Simulateur crédit immobilier</li>
        <li>Boutique</li>
        <li>Magazine</li>
    </ul>
</div>